{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h3>Bonjour 
        {% for user in user %}
            {{user.firstname}}
        {% endfor %}
    </h3>
    
    <div class="container_book">
        {% for book in books %}
            
        {% endfor %}
    </div>

{% endblock %}
