{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    
    <div class="container_book">
        {% for book in books %}
            {# <div>Test</div> #}
        {% endfor %}
    </div>

{% endblock %}
